.wrapper {
  flex-grow: 1;
  background: var(--background-primary);
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.info {
  display: flex;
  justify-content: space-between;
  margin: 35px 0 30px;
}

.name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 30px;
  line-height: 140%;
}

.mail {
  color: var(--borders-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.description {
  max-width: 600px;
}
