.wrapper {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 11px 20px;
  border: 1px solid var(--strokes-primary);
  border-radius: 4px;
  transition: border-color 0.2s;

  &:hover {
    border: 1px solid var(--borders-color);
  }
}

.input {
  flex-grow: 1;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  background-color: transparent;
  border: none;
  outline: none;
}

.label {
  display: block;
  margin-bottom: 5px;
  color: var(--borders-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.error {
  border: 1px solid var(--error-color);
}

.disabled {
  background: var(--background-secondary);
  pointer-events: none;
}

.icon {
  width: 25px;
  height: 25px;
}

.showPassword {
  position: absolute;
  right: 20px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  opacity: 0.5;
}

.shown {
  opacity: 1;
}

.slugWrapper {
  display: flex;
  padding: 0;
  border: 1px solid var(--strokes-primary);
  border-radius: 5px;
}

.slug {
  padding: 11px 19px;
  color: var(--borders-color);
  line-height: 140%;
  background: var(--background-secondary);
  border-right: 1px solid var(--strokes-primary);
  border-radius: 5px 0 0 5px;

  ~ input {
    padding: 11px 20px;
  }
}

.textarea {
  width: 100%;
  height: fit-content;
  min-height: 154px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  border-radius: 5px;
  resize: none;

  &:focus {
    outline: none;
  }
}
